*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(226, 226, 230);
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 0;
    background-color:  rgb(226, 104, 104);
    width: 100%;
}

img{
    width: 100%;
    max-width: 250px;
}

ul#nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
}
li.li-style{
    margin: 0 4vw;
}

a{
    text-decoration: none;
    color: black;
}

#container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
#specs{
    text-align: center;
}

ul.spec-lists{
    max-width: 80%;
    margin: 200px auto 100px auto;
    
}

h2.spec-title{
    padding-bottom: 10px;
}

#demo{
    text-align: center;
}

#prices{
    display: flex;
    margin-top: 100px;
    justify-content: center;

}

.card{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

p.card-title{
    background: rgb(198, 198, 201);
    padding:15px;
}

.card ul{
    margin-top: 10px;
}
.card li{
    padding: 10px 0;
}

.card button{
    border: 0;
    height: 35px;
    margin-top: 15px;
    background-color: rgb(224, 81, 81);
    cursor: pointer;
    padding: 0 20px;
}

.card h2{
    margin-top: 10px;
}

#user-input{
    margin-top:100px;
    text-align: center;
}
form{
    padding: 10px;
    
}
input{
    height: 40px;
}



@media only screen and (max-width: 600px){
    #prices{
        flex-direction: column;
    }
    .card{
        max-width: 500px;
        width: 100%;
        margin: 10px auto;
    }
}